.App {
  margin: 20px;
  /* border:  2px solid rgb(0, 0, 0) ;
  border-radius: 12px; */
  display: flex;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.student-list {
  align-self:auto;
  margin: 20px;
  display: inline-block;
  width: 40%;
  border:  2px solid rgb(0, 0, 0);
  border-radius: 12px;
  display: flex;
  flex-direction: column;

}

li {
  margin: 20px;
  border:  2px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px;
}

form {
  margin: 20px;
  border:  2px solid black;
  border-radius: 12px;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  font-size: 25px;
}

h1 {
  margin: 20px;
  font-size: 25px;
}

input {
  font-size: 18px;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 10px;
}

button {
  font-size: 18px;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor:pointer;
  width: 20%;
}

.grade {
  margin: 20px;
}

p {
  padding-left: 20px;
}